extends layout
block content
  h1= title
  p Welcome to Daniel Omole's server
  button(type='button', class='btn btn-secondary', onclick='doReduce()') Press me 
  div(id="reduce")
    p Reduce the value.

  script. 
    var count = 30
    var change = -1
    function doReduce(){
      count += change 
      change -=1
      document.getElementById("reduce").innerHTML = "Count " + count + " with change " + change 


    }
    
  a(href="musicals") Musicals info
  


