extends layout

block content
  h1= title
  p Welcome to Daniel Omole's server
  -const results = [
    {name:'Guitar', brand:'Fender', price: 1000},
    {name: 'Piano', brand: 'Yamaha', price: 5000},
    {name: 'Drums', brand: 'Pearl', price: 1500}
  ]

  .container-fluid
    .row
      each item in results
        .col-sm-2
          .musical_instrument
            p Instrument type: #{item.name}
            p Brand: #{item.brand}
            p Cost: $#{item.price}



