extends layout
block content
  h1= title

  - const results = [{instrument_type:'Guitar', brand:'Fender', cost: 1000}, {instrument_type: 'Piano', brand: 'Yamaha', cost: 5000}, {instrument_type: 'Drums', brand: 'Pearl', cost: 1500}]
  
  .container-fluid
    .row
      each item in results
        .col-sm-2
          .musical_instrument
            p Instrument type: #{item.instrument_type}
            p Brand: #{item.brand}
            p Cost: $#{item.cost}



